<div class=post-content>
  TITLE: <%= @post.title %><br/>
  CONTENT: <%= @post.content %><br/>
  CATEGORIES: <% @post.categories.each do |category| %>
    <%= category.name %><br/>
  <% end %>
</div>
